@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Josefin+Sans&family=Lato&family=Montserrat&family=Nothing+You+Could+Do&family=Open+Sans&family=Reenie+Beanie&family=Roboto&family=Source+Sans+Pro&family=Tenor+Sans&display=swap');

html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: auto; /* Margin bottom by footer height */
}
#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;            /* Footer height */
}