@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Josefin+Sans&family=Lato&family=Montserrat&family=Nothing+You+Could+Do&family=Open+Sans&family=Reenie+Beanie&family=Roboto&family=Source+Sans+Pro&family=Tenor+Sans&display=swap');

html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: auto; /* Margin bottom by footer height */
}
#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;            /* Footer height */
}
.carousel {
  background: #EEE;
}

.carousel-cell {
  display: block;
  margin-right: 10px;
}

/* HIDE RADIO */
.image_radio [type=radio] { 
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* IMAGE STYLES */
.image_radio [type=radio] + img {
  cursor: pointer;
}

/* CHECKED STYLES */
.image_radio [type=radio]:checked + img {
  outline: 4px solid rgb(160, 160, 160);
  border-radius: 25px;
}

.responsive {
  width: 100%;
  max-width: 400px;
  height: auto;
}