@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Josefin+Sans&family=Lato&family=Montserrat&family=Nothing+You+Could+Do&family=Open+Sans&family=Reenie+Beanie&family=Roboto&family=Source+Sans+Pro&family=Tenor+Sans&display=swap');

html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: auto; /* Margin bottom by footer height */
}
#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;            /* Footer height */
}

.display_menu {
  width: 50%;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 2;
  box-shadow: 0 2px 25px 2px rgba(0,0,0,0.2);
  border-radius: 3px;
  background: white;
}

.display_menu:first-child {
  top: 10em;
  left: -15em;
  z-index: 3;
}

.display_menu:last-child {
  z-index: 1;
  top: -10em;
  left: 15em;
}