{% extends "base_generic.html" %}
{% load static %}

{% block content %}
  <div class="jumbotron">
  <h1 class="display-4">Design like a pro</h1>
  <div class="row">
    <div class="col-6">
      <p class="lead">Popinly enables anyone to design professional menus in seconds. Save time and money designing menus without the use of complex design software. Save and export menus to share on social media platforms or print to use in-house</p>
      <ul>
        <p>💸 Free basic accounts</p>
        <p>🌶 Upgrade your existing menu in seconds</p>
        <p>🍷 Support for food and drink menus</p>
        <p>💻 Export in both PDF and PNG (Coming Soon)</p>
      </ul>
      <hr class="my-4">
      <p>Sign up or log in and get creating</p>
      {% if user.is_authenticated %}
        <a class="btn btn-primary btn-lg" href="{% url 'menu_gen:index' %}" role="button">Start Creating</a>
      {% else %}
        <a class="btn btn-primary btn-lg" href="{% url 'register'%}?next={{request.path}}" role="button">Register For Free</a>
      {% endif %}
    </div>
    <div class="col-6">
      <img class="display_menu" src="{% static "images/menu_1.png" %}">
      <img class="display_menu" src="{% static "images/menu_2.png" %}">
      <img class="display_menu" src="{% static "images/menu_3.png" %}">
    </div>
  </div>
</div>
{% endblock %}