{% extends "base_generic.html" %}
{% load static %}

{% block content %}
  <div class="jumbotron">
  <h1 class="display-4">Design like a pro</h1>
  <div class="row">
    <div class="col-6">
      <p class="lead">Popinly enables anyone to design professional menus in seconds. Save time and money designing menus without the use of complex design software. Save and export menus to share on social media platforms or print to use in-house</p>
      <ul>
        <p>💰 Free basic accounts</p>
        <p>⏱ Create menus in seconds</p>
        <p>🍕 Support for food and drink menus</p>
        <p>💻 Export in both PDF and PNG (Coming Soon)</p>
      </ul>
      <hr class="my-4">
      <p>Sign up or log in and get creating</p>
      {% if user.is_authenticated %}
        <a class="btn btn-primary btn-lg" href="{% url 'menu_gen:index' %}" role="button">Start Creating</a>
      {% else %}
        <a class="btn btn-primary btn-lg" href="{% url 'register'%}?next={{request.path}}" role="button">Register For Free</a>
      {% endif %}
    </div>
    <div class="col-6">
      <img class="display_menu" src="{% static "images/menu_1.png" %}">
      <img class="display_menu" src="{% static "images/menu_2.png" %}">
      <img class="display_menu" src="{% static "images/menu_3.png" %}">
    </div>
  </div>
</div>
<div class="jumbotron">
  <p class="h1">Make menus in three easy steps</p>
  <br>
  <div class="row row-cols-1 row-cols-md-3">
    <div class="col-sm-4">
      <div class="card h-100"">
        <img src="{% static "images/card_1.png" %}" class="card-img-top" >
        <div class="card-body">
          <h5 class="card-title">Add Your Items</h5>
          <p class="card-text">Input your menu items into Popinly's item editor. Items can be arranged to fit your design.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card h-100"">
        <img src="{% static "images/card_2.png" %}" class="card-img-top" >
        <div class="card-body">
          <h5 class="card-title">Style Your Menu</h5>
          <p class="card-text">Choose between hand-picked colour pallets and designer fonts.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card h-100"">
        <img src="{% static "images/card_3.png" %}" class="card-img-top" >
        <div class="card-body">
          <h5 class="card-title">Share!</h5>
          <p class="card-text">Print and share your menu. Social media formatted export coming soon.</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}