{% extends "base_generic.html" %}

{% block content %}
  <h1>Welcome to the menu generator page!</h1>
  {% if user.is_authenticated %}
    <a href="{% url 'menu_gen:add' %}">Create a new menu!</a>
    <h2>Select a menu to edit!</h2>
    {% if user_menus %}
      <div class="container">
        {% for menu in user_menus %}
          <div class="row">
            <div class="col">
              {{ menu.title }} 
            </div>
            <div class="col">
              <a href="{% url 'menu_gen:detail' menu.uuid %}">View</a> 
            </div>
            <div class="col">
              <a href="{% url 'menu_gen:edit' menu.uuid %}">Edit</a>
            </div>
            <div class="col">
              <a href="{% url 'menu_gen:delete' menu.uuid %}">Delete</a>
            </div>            
          </div>
        {% endfor %}
      </div>
    {% else %}
      <p>No menus available to edit.</p>
    {% endif %}
  {% endif %}
{% endblock %}