{% extends "base_generic.html" %}

{% block content %}
  {% if user.is_authenticated %}
    <h2>Select a menu to edit.</h2>
    {% if user_menus %}
    <table class="table table-hover">
    <thead>
      <tr>
        <th>Title</th>
        <th>Restaurant</th>
        <th>Menu Type</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    {% for menu in user_menus %}
      <tr>
        <td>{{ menu.menu_title }}</td>
        <td>{{ menu.restaurant_name }} </td>
        <td>{{ menu.menu_type }}</td>
        <td><a href="{% url 'menu_gen:edit_meta' menu.uuid %}">Edit Appearance</a></td>
        <td><a href="{% url 'menu_gen:edit' menu.uuid %}">Edit Contents</a></td>
        <td><a type="button" href="{% url 'menu_gen:detail' menu.uuid %}" class="btn btn-primary btn-sm" >View</a></td>
        <td><a type="button" href="{% url 'menu_gen:delete' menu.uuid %}" class="btn btn-danger btn-sm">Delete</a></td>
          </div>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
    {% else %}
      <p>No menus available to edit.</p>
    {% endif %}
      <a href="{% url 'menu_gen:wizard' %}" class="btn btn-outline-primary">Create a new menu</a>
  {% endif %}
{% endblock %}