{% extends "base_generic.html" %}
{% load crispy_forms_tags %}

{% block content %}
  <form action="" method="post">

    {% for hidden_field in form.hidden_fields %}
        {{ hidden_field.errors }}
        {{ hidden_field }}
    {% endfor %}

    {% csrf_token %}
    {{ form.non_form_errors }}
    <table>
      {{ form|crispy }}
    </table>
    <p>
      <button type="submit" class="btn btn-success">Add Menu</button>
      <a class="btn btn-outline" href="{% url 'menu_gen:index' %}">Cancel</a>
    </p>
  </form>

{% endblock content %}