{% extends "base_generic.html" %}
{% load crispy_forms_tags %}
{% block title %}<title>Popinly | Edit Appearance</title>{% endblock %}
{% block content %}
  <div class="row">
    <div class="col-6">
    <form action="" method="post">

      {% for hidden_field in form.hidden_fields %}
          {{ hidden_field.errors }}
          {{ hidden_field }}
      {% endfor %}

      {% csrf_token %}
      {{ form.non_form_errors }}
      <table>
        {{ form|crispy }}
      </table>
      <p>
        <button type="submit" class="btn btn-success">Update Appearance</button>
        <a class="btn btn-outline" href="{% url 'menu_gen:index' %}">Cancel</a>
      </p>
    </form>
    </div>
    <div class="col-6">
      <div class="jumbotron">
      <h1 class="display-5">Colour Pallets</h1>
        <div class="row">
          <div class="col">
            <ul class="list-group">
              <li class="list-group-item" style="background-color:#000000"></li>
              <li class="list-group-item" style="background-color:#000000"></li>
              <li class="list-group-item" style="background-color:#000000;color:#fff">Formal</li>
            </ul>
          </div>
          <div class="col">
            <ul class="list-group">
              <li class="list-group-item" style="background-color:#702323"></li>
              <li class="list-group-item" style="background-color:#702323"></li>
              <li class="list-group-item" style="background-color:#000000;color:#fff">Modern</li>
            </ul>
          </div>
          <div class="col">
            <ul class="list-group">
              <li class="list-group-item" style="background-color:#8f741d"></li>
              <li class="list-group-item" style="background-color:#8f741d"></li>
              <li class="list-group-item" style="background-color:#000000;color:#fff">Autumn</li>
            </ul>
            </div>
        </div>
        <br>
        <div class="row">
          <div class="col">
            <ul class="list-group">
              <li class="list-group-item" style="background-color:#1f4027"></li>
              <li class="list-group-item" style="background-color:#1f4027"></li>
              <li class="list-group-item" style="background-color:#000000;color:#fff">Fultur</li>
            </ul>
          </div>
          <div class="col">
            <ul class="list-group">
              <li class="list-group-item" style="background-color:#266682"></li>
              <li class="list-group-item" style="background-color:#266682"></li>
              <li class="list-group-item" style="background-color:#000000;color:#fff">Oculum</li>
            </ul>
          </div>
          <div class="col">
            <ul class="list-group">
              <li class="list-group-item" style="background-color:#000000"></li>
              <li class="list-group-item" style="background-color:#c75b5d"></li>
              <li class="list-group-item" style="background-color:#000000;color:#fff">Salmon</li>
            </ul>
          </div>
        </div>
        <br>
        <br>
      <h1 class="display-5">Impact Fonts</h1>
      <h3>Dancing Script</h3>
      <h4 style="font-family: 'Dancing Script', cursive;">Et non opus est argentum furca manducare bonum cibum.</h4>
      <br>
      <h3>Josefin Sans</h3>
      <h4 style="font-family: 'Josefin Sans', sans-serif;">Et non opus est argentum furca manducare bonum cibum.</h4>
      <br>
      <h3>Reenie Beanie</h3>
      <h4 style="font-family: 'Reenie Beanie', cursive;">Et non opus est argentum furca manducare bonum cibum.</h4>
      <br>
      <h3>Nothing You Could Do</h3>
      <h4 style="font-family: 'Nothing You Could Do';">Et non opus est argentum furca manducare bonum cibum.</h4>
      <br>
      <h3>Tenor Sans</h3>
      <h4 style="font-family: 'Tenor Sans', sans-serif;">Et non opus est argentum furca manducare bonum cibum.</h4>
      <br>
      <h1 class="display-5">Base Fonts</h1>
      <h3>Roboto</h3>
      <p style="font-family: 'Roboto', sans-serif;">Et non opus est argentum furca manducare bonum cibum.</p>
      <h3>Lato</h3>
      <p style="font-family: 'Lato', sans-serif;">Et non opus est argentum furca manducare bonum cibum.</p>
      <h3>Open Sans</h3>
      <p style="font-family: 'Open Sans', sans-serif;">Et non opus est argentum furca manducare bonum cibum.</p>
      <h3>Montserrat</h3>
      <p style="font-family: 'Montserrat', sans-serif;">Et non opus est argentum furca manducare bonum cibum.</p>
      <h3>Source Sans Pro</h3>
      <p style="font-family: 'Source Sans Pro', sans-serif;">Et non opus est argentum furca manducare bonum cibum.</p>
      </div>
      </div>
    </div>
  </div>
{% endblock content %}