{% extends "base_generic.html" %}
{% load crispy_forms_tags %}
{% block title %}<title>Popinly | Edit Menu</title>{% endblock %}

{% block content %}
{% if form.errors %}
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <div id="form-error">
      <p>The operation could not be performed because one or more error(s) occurred.<br />Please resubmit the form after making the following changes:</p>
      <ul>
        {% for nested in form.forms %}
          <ul>{{ nested.errors.as_text }}</ul>
          {% for child in nested.nested.forms %}
            <ul>{{ child.errors.as_text }}</ul>
        {% endfor %}
        {% endfor %}
      </ul>
    </div>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
{% endif %}

  <h1>Editing Menu</h1>

  <form method="POST">
    <div class="row">
      <div class="col-10">
        {% for hidden_field in form.hidden_fields %}
          {{ hidden_field.errors }}
          {{ hidden_field }}
        {% endfor %}
        {% csrf_token %}
        {{ form.management_form }}
        {{ form.non_form_errors }}
        {% for menu_section_form in form.forms %}
          <hr>
          <span class="d-block p-2" style="background-color: #bddaf2;">
            {% if not menu_section_form.instance.name %}
              {% if form.forms|length > 1 %}
                <h2>Add another Menu Section</h2>
              {% else %}
                <h2>Add a Menu Section</h2>
              {% endif %}
            {% endif %}
          {% for hidden_field in menu_section_form.hidden_fields %}
            {{ hidden_field.errors }}
            {{ hidden_field }}
          {% endfor %}
          <div class="form-row">
            <div class="form-group col-md-11 mb-0">
              {{ menu_section_form.name|as_crispy_field }}
            </div>
            <div class="form-group col mb-0">
              {{ menu_section_form.order|as_crispy_field }}
            </div>
          </div>
          {{ menu_section_form.description|as_crispy_field }}
          <div class="form-group mb-0">
            {{ menu_section_form.DELETE|as_crispy_field }}
          </div>
          {% if menu_section_form.nested %}
              {{ menu_section_form.nested.management_form }}
              {{ menu_section_form.nested.non_form_errors }}
              {% for menu_item_form in menu_section_form.nested.forms %}
                <span class="d-block p-2" style="background-color: #bec0c2;">
                  {% if not menu_item_form.instance.name %}
                    <h5>Add a Menu Item</h5>
                  {% endif %}
                  {% for hidden_field in menu_item_form.hidden_fields %}
                    {{ hidden_field.errors }}
                    {{ hidden_field }}
                  {% endfor %}
                    <div class="form-group">
                      <div class="form-row">
                        <div class="col-9 mb-0">
                          {{ menu_item_form.name|as_crispy_field }}
                        </div>
                        <div class="col-2 mb-0">
                          {{ menu_item_form.price|as_crispy_field }}
                        </div>                
                        <div class="col-1 mb-0">
                          {{ menu_item_form.order|as_crispy_field }}
                        </div>
                      </div>
                      {{ menu_item_form.description|as_crispy_field }}
                      <div class="form-group mb-2">
                        {{ menu_item_form.DELETE|as_crispy_field }}
                      </div>
                    </div>
                  </span>
                <br>
                {% endfor %}
          {% endif %}
        </span>
        {% endfor %}
    </form>
  </div>
  <div class="col-2">
    <div class="btn-group-vertical position-fixed">
      <button type="submit" class="btn btn-lg btn-success">Save Changes</button>
      <a class="btn btn-lg btn-light" href="{% url 'menu_gen:index' %}">Return</a>
    </div>
  </div>
</div>
  {% endblock %}