<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="author" content="Popinly.com">
  </head>

  <body>
    <h1>{{ menu.menu_title }}</h1>
      {% for section in menu.menusection_set.all %}
      <table>
      <th>{{ section.name }}</th>
      {% if section.description != "" %}
        <tr>
          <td id="item_desc">{{ section.description }}</td>
        </tr>
      {% endif %}
        {% for item in section.menuitem_set.all %}
        <tr>
          <tr>
            <td id="item_title">{{ item.name }}</td>
            {% if item.price != 0 %}
              <td id="item_price">{{ item.price }}</td>
            {% endif %}
          </tr>
          {% if item.description != "" %}
            <tr>
              <td id="item_desc">{{ item.description }}</td>
            </tr>
          {% endif %}
        </tr>
        {% endfor %}
        </table>
        <br>
      {% endfor %}
  </body>
</html>