<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="author" content="Popinly.com">
  </head>

  <body>
    <h1>{{ menu.title }}</h1>
      {% for section in menu.menusection_set.all %}
      <table>
      <th>{{ section.name }}</th>
        {% for item in section.menuitem_set.all %}
        <tr>
          <tr>
            <td id="item_title">{{ item.name }}</td>
            <td id="item_price">{{ item.price }}</td>
          </tr>
          <tr>
            <td id="item_desc">{{ item.description }}</td>
          </tr>
        </tr>
        {% endfor %}
        </table>
        <br>
      {% endfor %}
  </body>
</html>