{% extends "base_generic.html" %}
{% load crispy_forms_tags %}

{% block title %}<title>Popinly | Menu Wizard🔮</title>{% endblock %}

{% block head %}
{{ wizard.form.media }}
{% endblock %}

{% block content %}
    <div class="d-flex justify-content-between">
        <div>
            <p class="h2">Name your menu</p>
        </div>
        <div>
            <p class="text-right">Step {{ wizard.steps.step1 }} of 4</p>
        </div>
    </div>
    <hr>
    <br>
    <div class="row">
        <div class="col-6">
            <form action="" method="post">
            {% csrf_token %}
            {{ wizard.management_form }}
            <table>
            {% if wizard.form.forms %}
                {{ wizard.form.management_form }}
                {% for form in wizard.form.forms %}
                    {{ form|crispy }}
                {% endfor %}
            {% else %}
                {{ wizard.form|crispy }}
                {% endif %}
            </table>
            {% if wizard.steps.prev %}
                <button name="wizard_goto_step" formnovalidate class="btn btn-link" value="{{ wizard.steps.prev }}">Previous Step</button>
            {% endif %}
                <button type="submit" class="btn btn-success">Submit</button>
            </form>
        </div>
        {% if wizard.steps.step1 == 3 %}
            {% include "menu_gen/styles_columns.html" %}
        {% endif %}
    </div>
{% endblock %}