{% extends "base_generic.html" %}
{% load crispy_forms_tags %}
{% block title %}<title>Login | Popinly</title>{% endblock %}

{% block content %}
  
  {% if next %}
    {% if user.is_authenticated %}
      <h1>Your account doesn't have access to this page. To proceed,
      please login with an account that has access.</h1>
    {% else %}
      <h1>Please login to see this page.</h1>
    {% endif %}
  {% endif %}
  
  <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <table>
      {{ form|crispy }}
    </table>
    <button class="btn btn-primary" type="submit">Sign in</button>
    {# Assumes you setup the password_reset view in your URLconf #}
    <input type="hidden" name="next" value="{{ next }}" />
  </form>
  <br>
  <p>Forgot Password? <a href="{% url 'password_reset' %}">Password Reset.</a></p>
  <p>Not registered? <a href="{% url 'register' %}">Create an account.</a></p>
{% endblock %}