{% extends "base_generic.html" %}
{% load crispy_forms_tags %}
{% block title %}<title>Register | Popinly</title>{% endblock %}

{% block content %} 

{% if form.errors %} {% for field in form %} {% for error in field.errors %}
  <div class="alert alert-danger">
     <strong>{{ error|escape }}</strong>
  </div>
{% endfor %} {% endfor %}{% endif %}

  <form method="post" action="{% url 'register' %}">
   {% csrf_token %}
    <table>
      {{ form|crispy }}
    </table>
    <button class="btn btn-primary" type="submit">Register</button>
</form>
<br>
<p>Already registered? <a href="{% url 'login' %}">Sign in.</a></p>
{% endblock %}